.skin-amber,  .skin-ash,  .skin-azure,  .skin-beige,  .skin-black,  .skin-blue,  .skin-brown,  .skin-burgundy,  .skin-charcoal,  .skin-chocolate,  .skin-coffee,  .skin-cyan,  .skin-fuchsia,  .skin-gold,  .skin-green,  .skin-grey,  .skin-indigo,  .skin-khaki,  .skin-lime,  .skin-magenta,  .skin-maroon,  .skin-orange,  .skin-olive,  .skin-pink,  .skin-pistachio,  .skin-pink,  .skin-red,  .skin-tangerine,  .skin-turquoise,  .skin-violet,  .skin-white,  .skin-yellow{
	color:white;
}
.skin-amber{background-color:amber;}
.skin-ash{background-color:ash;}
.skin-azure{background-color:#00BFFF;}
.skin-beige{background-color:beige;}
.skin-black{background-color:black;}
.skin-blue{background-color:blue;}
.skin-brown{background-color:brown;}
.skin-burgundy{background-color:burgundy;}
.skin-charcoal{background-color:charcoal;}
.skin-chocolate{background-color:chocolate;}
.skin-coffee{background-color:coffee;}
.skin-cyan{background-color:cyan;}
.skin-fuchsia{background-color:fuchsia;}
.skin-gold{background-color:gold;}
.skin-green{background-color:green;}
.skin-grey{background-color:grey;}
.skin-indigo{background-color:indigo;}
.skin-khaki{background-color:khaki;}
.skin-lime{background-color:lime;}
.skin-magenta{background-color:magenta;}
.skin-maroon{background-color:maroon;}
.skin-orange{background-color:orange;}
.skin-olive{background-color:olive;}
.skin-pink{background-color:pink;}
.skin-pistachio{background-color:pistachio;}
.skin-red{background-color:red;}
.skin-tangerine{background-color:tangerine;}
.skin-turquoise{background-color:turquoise;}
.skin-violet{background-color:violet;}
.skin-white{background-color:white; color:black;}
.skin-yellow{background-color:yellow;}